.gauge {
  width: 100%;
  max-width: 70px;
  height: 250px;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #004033;
}

.gauge__body {
  width: 100%;
  height: 100%;
  background:  #b4c0be;
  position: relative;
}

.gauge__fill {
  position: absolute;
  width: 100%;
  top: 80%;
  height:  20%;
  background: #4bf542;
  transform-origin: center top;
  transition: height 1s ease-out;
}


.gauge__numbers {
  position: relative;
  width: 100%;
  left: 100%;
  height: 100%;
  background: #ff0;
  transform-origin: center top;
}

.gauge__value {
  position: relative;
  width: 100%;
  height: 100%;
  background: #06ffff00;
  /*transform-origin: center top;*/
}
